body {
	margin: 0;
	padding: 0;
}
.black-scr {
	position: fixed;
	content: '';
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 0;
	background: rgba(0, 0, 0, 0.1);
}
body.open .black-scr {
	opacity: 1;
}
body.send .black-scr {
	opacity: 1;
	z-index: 6;
	background: rgba(0, 0, 0, 0.2);
}
body.open {
	overflow-y: hidden;
}
.wrap {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	width: 1040px;
	margin: 0 auto;
}
li {
	display: block;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
div,
p,
ul,
li,
span,
button,
input,
a,
form,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
iframe {
    max-width: 100%;
}
.title {
	font-size: 46px !important;
	line-height: 58px !important;
}
.title-l {
	font-size: 31px !important;
	line-height: 42px !important;
}
textarea:active,
textarea:focus {
	outline: none;
}
input[type=text],
input[type=submit],
textarea {
	-webkit-appearance: none;
}
input {
	border: 0;
	outline: none;
}
.menu_btn {
	display: none;
}
.btn {
	font-size: 17px;
	font-weight: 600;
}
.badge {
	font-weight: 700 !important;
	font-size: 12px !important;
	line-height: 20px !important;
	letter-spacing: 0.04em !important;
}

/* -----------------------------Header---------------------------- */

.header {
	padding: 24px 0;
}
.header__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header__logo:hover {
	text-decoration: none;
}
.header__nav > ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header__nav > ul > li:not(:last-child) {
	margin-right: 25px;
}
.header__nav > ul > li > a {
	font-weight: 600;
	font-size: 17px;
	line-height: 27px;
	color: #032553;
}
.header__nav > ul > li > a:hover {
	text-decoration: none;
}
.header .container {
	z-index: 5 !important;
}
.header__nav > ul > li > .sub-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	opacity: 0;
	z-index: 5;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	pointer-events: none;
	top: 40px;
	right: 0;
	left: 0;
	padding-top: 35px;
}
.header__nav > ul > li.transp a {
	opacity: .3;
}
.header__nav > ul > li.menu-item-has-children:hover > .sub-menu {
	pointer-events: all;
	opacity: 1;
}

.header__nav > ul > li > .sub-menu > li {
	background: #fff;
	width: 100%;
	padding: 40px 40px 24px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	-webkit-columns: 3;
	   -moz-columns: 3;
	        columns: 3;
	-webkit-box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
		 box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
}

.header__nav > ul > li > .sub-menu li > a {
	font-size: 15px;
	line-height: 150%;
	margin-bottom: 16px;
	color: #032553;
	display: block;
}
.header__nav > ul > li > .sub-menu > li > a:hover {
	text-decoration: none;
}

.header__nav > ul > li > .sub-menu > li > .sub-menu > li:not(:last-child) {
	margin-bottom: 12px;
}
/* ---fixed header--- */

.wrap__head {
	height: 96px;
}
.header_fixed .header {
	background: #FFFFFF;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
}


.header_fixed .header__nav > ul > li > .sub-menu {
	padding-top: 56px;
}

/* ---main--- */

.main {
	margin-bottom: -130px;
}





/* ----ABOUT---- */
.about {
	padding: 265px 0 195px;
}
[data-readmore] {
	-webkit-transition: height 100ms;
	-o-transition: height 100ms;
	-moz-transition: height 100ms;
	transition: height 100ms;
	overflow: hidden;
	position: relative;
	margin-bottom: 0;
}
[data-readmore][data-readmore] {
	display: block;
	width: 100%;
}
[data-readmore][aria-expanded="false"]:after {
	content: '';
	position: absolute;
	bottom: 0;
	display: inline-block;
	width: 100%;
	height: 83px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(241, 244, 248, 0)), to(#F1F4F8));
	background: -webkit-linear-gradient(top, rgba(241, 244, 248, 0) 0%, #F1F4F8 100%);
	background: -moz-linear-gradient(top, rgba(241, 244, 248, 0) 0%, #F1F4F8 100%);
	background: -o-linear-gradient(top, rgba(241, 244, 248, 0) 0%, #F1F4F8 100%);
	background: linear-gradient(180deg, rgba(241, 244, 248, 0) 0%, #F1F4F8 100%);;
}
[data-readmore] +[data-readmore-toggle] {
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: #335EEA;
	margin-top: 24px;
	display: inline-block;
}
.about__txt p:not(:last-child) {
	margin-bottom: 12px;
}
.about__txt p {
	opacity: 0.7;
	font-size: 18px;
line-height: 150%;
}


/* ----cards--- */

.cards__help::before {
	content: '';
	display: block;
	position: absolute;
	width: 317px;
	height: 177px;
	top: 25px;
	left: -50px;
	background: url('../img/cards-l.png') no-repeat 0 0 / cover;
}
.cards__help::after {
	content: '';
	display: block;
	position: absolute;
	width: 332px;
	height: 176px;
	top: 25px;
	right: -50px;
	background: url('../img/cards-r.png') no-repeat 0 0 / cover;
}

/* ----academ---- */

.academ {
	padding: 282px 0;
}