html {
	overflow-x: unset !important;
}
body {
	margin: 0;
	padding: 0;
}
.black-scr {
	position: fixed;
	content: '';
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 0;
	background: rgba(0, 0, 0, 0.1);
}
body.open .black-scr {
	opacity: 1;
	z-index: 6;
}
body.send .black-scr {
	opacity: 1;
	z-index: 6;
	background: rgba(0, 0, 0, 0.2);
}
body.open {
	overflow-y: hidden;
	overflow-x: unset !important;
}
.wrap {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	width: 1080px;
	max-width: unset !important;
	margin: 0 auto;
}
li {
	display: block;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
	letter-spacing: 0 !important;
}
div,
p,
ul,
li,
span,
button,
input,
a,
form,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
iframe {
    max-width: 100%;
}
.title {
	font-size: 46px !important;
	line-height: 58px !important;
	letter-spacing: 0 !important;
}
.title-l {
	font-size: 31px !important;
	line-height: 42px !important;
}
textarea:active,
textarea:focus {
	outline: none;
}
input[type=text],
input[type=submit],
textarea {
	-webkit-appearance: none;
}
input {
	border: 0;
	outline: none;
}
.menu_btn {
	display: none;
}
.btn {
	font-size: 17px;
	font-weight: 600;
}
.badge {
	font-weight: 700 !important;
	font-size: 12px !important;
	line-height: 20px !important;
	letter-spacing: 0.04em !important;
}
/* ----STARS---- */

.stars {
	width: 80px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}
.rating__star span {
	overflow: hidden;
	display: block;
	height: 100%;
	font-size: 0;
	line-height: 13px
}
.rating__star {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 13px;
	margin: 0 2.35px;
	text-align: center;
	background: url('../img/svg/star-trans.svg') 0 1px no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100%;
	background-size: 100%
}

/* -----------------------------Header---------------------------- */

.header {
	padding: 36px 0;
}
.header__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header__logo:hover {
	text-decoration: none;
}
.header__nav > ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header__nav > ul > li:not(:last-child) {
	margin-right: 35px;
}
.header__nav > ul > li > a {
	font-weight: 600;
	font-size: 17px;
	line-height: 27px;
	color: #032553;
}
.header__nav > ul > li > a:hover {
	text-decoration: none;
}
.header .container {
	z-index: 5 !important;
}
.header__nav > ul > li > .sub-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	opacity: 0;
	z-index: 5;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	pointer-events: none;
	top: 40px;
	right: 0;
	left: 0;
	padding-top: 35px;
}
.header__nav > ul > li.transp a {
	opacity: .3;
}
.header__nav > ul > li.menu-item-has-children:hover > .sub-menu {
	pointer-events: all;
	opacity: 1;
}

.header__nav > ul > li > .sub-menu > li {
	background: #fff;
	width: 100%;
	padding: 40px 40px 24px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	-webkit-columns: 3;
	   -moz-columns: 3;
	        columns: 3;
	-webkit-box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
		 box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
}

.header__nav > ul > li > .sub-menu li > a {
	font-size: 15px;
	line-height: 150%;
	margin-bottom: 16px;
	color: #032553;
	display: block;
}
.header__nav > ul > li > .sub-menu > li > a:hover {
	text-decoration: none;
}

.header__nav > ul > li > .sub-menu > li > .sub-menu > li:not(:last-child) {
	margin-bottom: 12px;
}
/* ---fixed header--- */

.wrap__head {
	height: 96px;
}
.header_fixed .header {
	background: #FFFFFF;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
}


.header_fixed .header__nav > ul > li > .sub-menu {
	padding-top: 56px;
}

/* ---main--- */

.main {
	margin-bottom: -90px;
	padding-top: 73px;
}

.main__txt {
	font-size: 21px;
	line-height: 33px;
	opacity: 0.5;
	width: 90%;
}



/* ----ABOUT---- */
.about {
	padding: 302px 0 222px;
}
[data-readmore] {
	-webkit-transition: height 100ms;
	-o-transition: height 100ms;
	-moz-transition: height 100ms;
	transition: height 100ms;
	overflow: hidden;
	position: relative;
	margin-bottom: 0;
}
[data-readmore][data-readmore] {
	display: block;
	width: 100%;
}
[data-readmore][aria-expanded="false"]:after {
	content: '';
	position: absolute;
	bottom: 0;
	display: inline-block;
	width: 100%;
	height: 83px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(241, 244, 248, 0)), to(#F1F4F8));
	background: -webkit-linear-gradient(top, rgba(241, 244, 248, 0) 0%, #F1F4F8 100%);
	background: -moz-linear-gradient(top, rgba(241, 244, 248, 0) 0%, #F1F4F8 100%);
	background: -o-linear-gradient(top, rgba(241, 244, 248, 0) 0%, #F1F4F8 100%);
	background: linear-gradient(180deg, rgba(241, 244, 248, 0) 0%, #F1F4F8 100%);;
}
[data-readmore] +[data-readmore-toggle] {
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: #335EEA;
	margin-top: 44px;
	display: inline-block;
}
.about__txt p:not(:last-child) {
	margin-bottom: 8px;
}
.about__txt p {
	opacity: 0.7;
	font-size: 18px;
line-height: 150%;
}


/* ----cards--- */
.cards {
    padding: 94px 0px;
}
.cards__help::before {
	content: '';
	display: block;
	position: absolute;
	width: 317px;
	height: 177px;
	top: -51px;
    left: -94px;
	background: url('../img/cards-l.png') no-repeat 0 0 / cover;
}
.cards__help::after {
	content: '';
	display: block;
	position: absolute;
	width: 332px;
	height: 176px;
	top: -53px;
    right: -100px;
	background: url('../img/cards-r.png') no-repeat 0 0 / cover;
}
.cards p {
	font-size: 16px !important;
	width: 90%;
	margin: 0 auto;
}

/* ----academ---- */

.academ {
	padding: 262px 0 ;
}


/* ---TABLE--- */

.table {
	padding: 96px 0 160px;
}
.table:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 130%;
	height: 1px;
	background: #F4F7FB;
	left: -40px;
	-webkit-transform: rotateZ(-6deg);
	   -moz-transform: rotateZ(-6deg);
	    -ms-transform: rotate(-6deg);
	     -o-transform: rotateZ(-6deg);
	        transform: rotateZ(-6deg);
}
.table__card {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	padding: 32px;
}

.table__tabs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	margin-bottom: 21px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.table__tabs:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	background: #EDEDED;
	bottom: 1px;
	left: 0;
	z-index: 1;
}
.table__tab {
	padding: 10px 20px;
	color: #335EEA;
	border: 1px solid transparent;
	font-weight: 600;
	font-size: 17px;
	line-height: 28px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.table__tab:hover {
	color: #000;
}
.table__tab.active {
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #EDEDED;
	border-bottom-color: transparent;
	-webkit-border-radius: 6px 6px 0px 0px;
	   -moz-border-radius: 6px 6px 0px 0px;
	        border-radius: 6px 6px 0px 0px;
}
.table__labels {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 42px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.table__label {
	position: relative;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #032553;
	padding-left: 24px;
}
.table__label::before {
	content: '';
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background: #B8B8B8;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.table__label:nth-child(1):before {
	background: #335EEA
}
.table__label:not(:last-child) {
	margin-right: 50px;
}
.table__slider {
	display: none !important;
	padding-top: 50px;
}
.table__slider .slick-list {
	padding-top: 50px;
}
.table__slider .slick-track {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
    -webkit-box-align: end !important;
    -webkit-align-items: flex-end !important;
       -moz-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
}
.table__slider.active {
	display: block !important;
}
.table__wrap {
	position: relative;
}
.table__help {
	width: 100%;
}
.table__lines {
	padding-left: 62px;
	padding-bottom: 55px;
}
.table__lines li {
	width: 100%;
	height: 1px;
	background: rgba(3, 37, 83, 0.1);
	position: relative;
}
.table__lines li:not(:last-child) {
	margin-bottom: 55px;
}
.table__lines li span {
	position: absolute;
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	color: #032553;
	opacity: 0.5;
	left: -62px;
	top: -10px;
}
.table__sliders {
	padding-left: 62px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}
.table__cols {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 12px;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	   -moz-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.table__col-l {
	position: relative;
	width: 54px;
	background: #335EEA;
	margin-right: 4px;
}
.table__col-r {
	width: 54px;
	background: #B8B8B8;
}
.table__slider .slick-slide:nth-child(1) .table__col-l {
	height: 80px;
}
.table__slider .slick-slide:nth-child(2) .table__col-l {
	height: 49px;
}
.table__slider .slick-slide:nth-child(3) .table__col-l {
	height: 62px;
}
.table__slider .slick-slide:nth-child(4) .table__col-l {
	height: 87px;
}
.table__slider .slick-slide:nth-child(1) .table__col-r {
	height: 128px;
}
.table__slider .slick-slide:nth-child(2) .table__col-r {
	height: 88px;
}
.table__slider .slick-slide:nth-child(3) .table__col-r {
	height: 73px;
}
.table__slider .slick-slide:nth-child(4) .table__col-r {
	height: 116px;
}
.table__col-info {
	position: absolute;
	top: -50px;
	color: #335EEA;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.table__col-proc {
	font-weight: 800;
	font-size: 18px;
}
.table__cols-label {
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	color: #032553;
}
.table__cols-time {
	opacity: 0.5;
}
.table__cols-label span {
	display: block;
}
.table__slide-wrap {
	padding: 0 60px;
}

/* ---orders--- */

.orders {
	padding: 187px 0 279px;
}
.orders__card {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	padding: 40px 48px;
}
.orders__card ul {
	-webkit-columns: 3;
	   -moz-columns: 3;
	        columns: 3;
	width: 100%;
}
.orders__card ul li {
	margin-bottom: 13px;
}
.orders__card ul li a {
	font-size: 18px;
	line-height: 150%;
	color: #032553;
	opacity: 0.7;
}
.shape-custom {
	color: #020B21;
}

/* ---use--- */

.use {
	padding: 80px 0 151px;
	background: #020B21;
}

.use:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 130%;
	height: 1px;
	background: #1B2A4E;
	left: -40px;
	z-index: 2;
	-webkit-transform: rotateZ(-6deg);
	   -moz-transform: rotateZ(-6deg);
	    -ms-transform: rotate(-6deg);
	     -o-transform: rotateZ(-6deg);
	        transform: rotateZ(-6deg);
}
.btn-rounded-circle> span {
    font-size: 20px !important;
}
.use__line {
	position: relative;
	margin-bottom: 60px;
}
.use__line::before {
	content: '';
	display: block;
	position: absolute;
	width: 70%;
	height: 1px;
	background: #1B2A4E;
	top: 23px;
	right: 0;
	left: 0;
	margin: 0 auto;
}
/* ---price--- */

.price {
	padding: 205px 0 254px;
	background: #020B21;
}
.price p {
	opacity: 0.7;
	font-size: 18px;
	line-height: 1.5em;
}
.price__card {
	padding: 40px 24px 40px 32px;
	background: #07112C;
	-webkit-box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}

.price__title {
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 16px;
}
.price__card ul {
	padding-bottom: 24px;
	margin-right: 8px;
	border-bottom: 1px solid rgba(237, 237, 237, 0.1);
	margin-bottom: 24px;
}
.price__card ul li {
	font-size: 16px !important;
	line-height: 150% !important;
}
.price__card ul li > span:first-child {
	opacity: 0.7;
}
.price__card ul li > span:last-child {
	width: 72px;
}
.price__total {
	font-weight: 800;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.price__badge {
	background: #82FF9D;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	padding: 4px 12px;
	font-weight: 700 !important;
	font-size: 18px !important;
	line-height: 150% !important;
	color: #192230;
}
.price__card ul li > span:last-child span {
    font-size: 15px !important;
}
.review {
	padding: 100px 0 546px;
}
.review__help {
	position: absolute;
	left: 20px;
	top: 176px;
	max-width: 1480px;
}
.review__tit-text {
	font-size: 18px;
}
.review__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin: -30px -19px;
}
.review__card-wrap {
	padding: 30px 19px;
}
.review__card {
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	width: 363px;
	padding: 40px 32px;
	-webkit-box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.1);
}
.review__card:hover .review__btn {
	opacity: 1;
}
.review__top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 16px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.review__left {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.review__img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 44px;
	height: 44px;
	overflow: hidden;
	margin-right: 16px;
}
.review__img img {
	width: 100%;
	height: 100%;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
}
.review__name {
	font-weight: 700;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 24px;
	color: #032553;
}
.review__count {
	font-weight: 700;
	color: rgba(0, 0, 0, 0.15);
	font-size: 24px;
	line-height: 24px;
}
.review__card p {
	font-size: 16px;
	line-height: 150%;
	color: #032553;
	opacity: 0.7;
	margin-bottom: 16px;
}
.review__btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #032553;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.slick-slide:focus {
	outline: none;
	border: none;
}

/* ----faq---- */

.faq {
	padding: 96px 0 50px;
}
.faq__wrap {
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}
.faq__help {
	padding-bottom: 104px;
	border-bottom: 1px solid #D9E2EF;
}
.faq__card-wrap {
	padding: 0 40px 0 32px;
	cursor: pointer;
}
.faq__card {
	padding: 32px 0;
}
.faq__card-wrap:not(:last-child) {
	border-bottom: 1px solid #EDEDED;
}
.faq__title {
	position: relative;
	padding-right: 224px;
	font-weight: 700;
	font-size: 17px;
	line-height: 27px;
	color: #032553;
}
.faq__title::after {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 6px;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: url('../img/arrow.png') no-repeat 0 0 / cover;
}
.faq__title.open::after {
	-webkit-transform: rotateZ(180deg);
	   -moz-transform: rotateZ(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotateZ(180deg);
	        transform: rotateZ(180deg);
}
.faq__card p {
	font-size: 17px;
	line-height: 27px;
	color: #032553;
	margin-top: 16px;
	display: none;
}

/* ----bottom__text---- */

.bottom__text {
	padding: 54px 0 96px;
}
.text__wrap .wp-block-columns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.text__wrap .wp-block-column {
	width: 48.5%;
}
.text__wrap h2 {
	margin-bottom: 24px;
}
.text__wrap p {
	font-size: 18px;
	line-height: 150%;
	color: #032553;
	opacity: 0.7;
}
.text__wrap p:not(:last-child) {
	margin-bottom: 10px;
}
.text__wrap h3 {
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: #032553;
	opacity: 0.7;
}
.text__wrap h3:not(:first-child) {
	margin-top: 24px;
}

/* ---footer--- */

.footer {
	padding: 0 0 48px;
}
.footer__wrap {
	padding: 96px 0;
	border-top: 1px solid #D9E2EF;
	border-bottom: 1px solid #D9E2EF;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__item {
	width: 22%;
}
.footer__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin-bottom: 19px;
	color: #4B6485;
}
.footer__item ul li a {
	font-size: 16px;
	line-height: 130%;
	color: #4B6485;
}
.footer__item ul li:not(:last-child) {
	margin-bottom: 16px;
}
.footer__bottom {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 48px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__soc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__soc-item {
	width: 45px;
	height: 45px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	background: #F1F4F8;
	color: #4B6485;
	font-weight: 900;
	font-size: 18px;
	line-height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.footer__soc-item:hover {
	background: #E3EAF3;
	text-decoration: none;
}
.footer__soc-item:not(:last-child) {
	margin-right: 12px;
}
.footer__copy {
	font-size: 16px;
	line-height: 130%;
	color: #4B6485;
}
.cookies {
	display: none;
}